<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="./inmuebleForm.css" />
  </head>
  <body>
    <h2>Formulario Inicio</h2>
    <form class="formInicio" action="#" method="get">
      <div class="row1">
        <label for="operacion">Operación:</label>
        <select id="tipo-operacion" name="tipo-operacion">
          <option value="alquiler">Alquiler</option>
          <option value="alquiler-temporario">Alquiler Temporario</option>
          <option value="venta">Venta</option>
        </select>

        <label for="inmueble">Inmueble:</label>
        <select id="tipo-inmueble" name="tipo-inmueble">
          <option value="casas">Casas</option>
          <option value="departamentos">Departamentos</option>
          <option value="lotes">Lotes</option>
          <option value="locales">Locales</option>
        </select>

        <input
          type="text"
          class="ubicacion"
          id="ubicacion"
          name="ubicacion"
          placeholder="Ingrese la ubicación"
        />
      </div>
      <div class="row2">
        <div class="columna1">
          <input type="checkbox" id="inmobiliaria" name="inmobiliaria" />
          <label for="inmobiliaria">Inmobiliaria</label>
          <input type="checkbox" id="dueno" name="dueno" />
          <label for="dueno">Dueño</label>
        </div>

        <div class="columna2">
          <button class="button-79" role="button">Buscar</button>
        </div>
      </div>
    </form>

    <h2>Formulario de Creación de Inmueble</h2>

    <form class="formCrearInmueble" action="#" method="post">
      <div class="row1">
        <label for="tipo-inmueble">Tipo de Inmueble:</label>
        <select id="tipo-inmueble" name="tipo-inmueble">
          <option value="casa">Casa</option>
          <option value="departamento">Departamento</option>
          <option value="lote">Lote</option>
          <option value="local">Local</option>
        </select>

        <label for="ubicacion">Ubicación:</label>
        <input
          type="text"
          id="ubicacion"
          name="ubicacion"
          placeholder="Ingrese la ubicación"
        />
      </div>
      <div class="row2">
        <label for="superficie">Superficie:</label>
        <input
          type="number"
          id="superficie"
          name="superficie"
          placeholder="Tamaño de la superficie"
        />

        <label for="ambientes">Ambientes:</label>
        <input
          type="number"
          id="ambientes"
          name="ambientes"
          placeholder="Cantidad de ambientes"
        />
      </div>

      <div class="row3">
        <textarea
          id="descripcion"
          name="descripcion"
          placeholder="Ingrese la descripción"
        ></textarea>
      </div>

      <div class="row4">
        <label for="precio">$</label>
        <input
          type="number"
          id="precio"
          name="precio"
          placeholder="Ingrese el precio"
          
        />
        <label class="venta">
          <input type="radio" name="tipo-oferta" value="venta" />
          Venta
        </label>
        <label class="alquiler">
          <input type="radio" name="tipo-oferta" value="alquiler" />
          Alquiler
        </label>

        <button class="button-79" role="button">Crear Inmueble</button>
      </div>
    </form>

    


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>
